<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>JustCut</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
        <link href="lib/fontawesome/css/all.min.css" rel="stylesheet">
        <script src="lib/vue.js"></script>
	</head>
	<body>
        <div id="app">
            <header id="top" style="display: flex; flex-direction: row; justify-content: space-between;">
                <!--Left-->
                <div>
                    <img src="images/logo-color.svg"/>
                </div>
                <!--Center-->
                <div style="color:white; font-size: 1.3em; font-weight: bold;">
                    <span v-if="machine">{{machine.name}}</span>
                    <span v-if="machine && machine.operation"> - {{machine.operation.name}}</span>
                </div>
                <!--Right-->
                <div>

                </div>
            </header>
            <div v-if="!machine || !machine.operation" id="full-page">
                <!-- select-machine -->
                <span v-if="!machine" class="pannel-name"><span class="panel-number"><i class="fa-solid fa-wrench"></i></span>Select your machine</span>
                <div  v-if="!machine" class="pannel-body">
                    <div class="pannel-text-container" style="display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;">
                        <div v-for="candidate of machineList" class="selection-card" @click="selectMachine(candidate)">
                            <span style="text-align:center;font-size:1.2em;font-weight:bold;padding:5px;">{{candidate.name}}</span>
                            <img v-bind:src="candidate.image">
                        </div>
                    </div>
                </div>

                <!-- select-operation -->
                <span v-if="machine && !machine.operation" class="pannel-name"><span class="panel-number"><i class="fa-solid fa-wrench"></i></span>Select target operation</span>
                <div  v-if="machine && !machine.operation" class="pannel-body">
                    <div class="pannel-text-container" style="display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;">
                        <div v-for="candidate of machine.operationList" class="selection-card" @click="selectOperation(candidate)">
                            <span style="text-align:center;font-size:1.2em;font-weight:bold;padding:5px;">{{candidate.name}}</span>
                            <img v-bind:src="candidate.image">
                        </div>
                    </div>
                </div>
            </div>
            <div id="center" v-if="machine && machine.operation">
                <!-- Preview -->
                <div id="preview">
                    <canvas id="previewCanvas" style="width: 100%">

                    </canvas>
                    <!-- Source image hidden holder -->
                    <div style="overflow: hidden; position: relative;">
                        <img v-if="sourceUrl" id="sourceImage" :src="sourceUrl" @load="onSourceFileLoaded()" style="position: absolute;left: 100%;opacity: 0;"/>
                    </div>
                </div>
                <!-- Checklist -->
                <div id="checklist">
                        <div v-for="(item, index) in machine.operation.steps" class="cheklist-item">
                            <span class="checklist-item-name">
                                <i v-if="item.validated && index != machine.operation.index" class="fa-solid fa-circle-check c-success"></i>
                                <i v-if="!item.validated && index != machine.operation.index" class="fa-solid fa-circle c-primary"></i>
                                <i v-if="index == machine.operation.index" class="fa-solid fa-circle-right c-primary"></i>
                                {{item.name}}
                            </span>
                        </div>
                </div>
            </div>
            <div id="bottom" v-if="machine && machine.operation">
                <div id="pannels">
                    <span class="pannel-name"><span class="panel-number">{{machine.operation.index}}</span>{{currentOperationStep().name}}</span>

                    <!-- select-file -->
                    <div v-if="currentOperationStep().id == 'select-file'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Open a black-and-white PNG file of your PCB or 2D drawing.
                            </p>
                            <label for="source-file" class="button" v-bind:class="{ 'b-primary': !sourceImg, 'b-success': sourceImg }" title="Open source file">
                                <span v-if="!sourceImg"><i class="fa-solid fa-folder-open"></i> Open source file</span>
                                <span v-if="sourceImg"><i class="fa-solid fa-shuffle"></i> Change file</span>
                            </label>
                            <input type="file" @change="openSourceFile($event)" id="source-file" style="position: absolute;width: 0px;left: 0px;opacity: 0;"/>
                            <div v-if="sourceImg">
                                <p>
                                    To properly scale the job to real world units, <b>please provide the width between the two red lines</b> in millimeters.
                                </p>
                                <div class="input-group">
                                    <span><i class="fa fa-arrows-alt-h mr-1"></i> Distance between red lines (in mm)</span>
                                    <input type="number" min="0.01" v-model.number="job.realWorldWidth" @change="onScaleUpdate()" class="form-control small-input-value" aria-label="Distance between red lines in millimeters (width of the job)" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <button @click="onScaleUpdate();nextOperationStep()" :disabled="job.realWorldWidth==0" class="b-primary">Next</button>
                            </div>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- compute-path -->
                    <div v-if="currentOperationStep().id == 'compute-path'" class="pannel-body">
                        <div class="pannel-text-container">
                            <div style="display:flex;flex-direction:row;">
                                <!--Tool visual-->
                                <div>
                                    <svg width="100px" height="30vh" :view-box.camel="'0 0 '+(tool.diameter+tool.sideMargin*2)+' '+(tool.height+pcb.copperThickness+pcb.fiberThickness-tool.cravingDepth)">
                                    <rect x="0" :y="tool.height-tool.cravingDepth" width="60" :height="pcb.copperThickness" stroke="none" fill="#f39c12"/>
                                    <rect x="0" :y="tool.height-tool.cravingDepth+pcb.copperThickness" width="60" :height="pcb.fiberThickness" stroke="none" fill="#009432"/>
                                    <path :d="'M '+tool.sideMargin+' 0 l 0 '+(tool.height-getToolTipHeight())+' l '+(tool.diameter/2)+' '+getToolTipHeight()+' l '+(tool.diameter/2)+' -'+getToolTipHeight()+' l 0 -'+(tool.height-getToolTipHeight())+' Z'" stroke="none" fill="#95a5a6" />
                                    <path :d="'M '+tool.sideMargin+' '+(tool.height-getToolTipHeight())+' l '+(tool.diameter/2)+' '+getToolTipHeight()+' l '+(tool.diameter/2)+' -'+getToolTipHeight()" stroke="none" fill="#e74c3c"/>
                                    </svg>
                                </div>
                                <!--Settings-->
                                <div>
                                    <div style="display: flex;flex-direction:row;flex-wrap:wrap;">
                                        <!--Tool settings-->
                                        <div style="margin: 0px 5px 0px 5px;flex:1;">
                                            <h4 class="d-block sub-step-title">Tool specs:</h4>
                                            <!--width-->
                                            <div class="input-group">
                                                <span>Width (mm)</span>
                                                <input type="number" min="1" max="100" step="0.05" v-model.number="tool.diameter"  class="form-control small-input-value" aria-label="Tool body height" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <!--height-->
                                            <div class="input-group">
                                                <span>Height (mm)</span>
                                                <input type="number" min="1" max="100" step="0.25" v-model.number="tool.height"  class="form-control small-input-value" aria-label="Tool body height" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <!--Angle-->
                                            <div class="input-group">
                                                <span>Angle (°)</span>
                                                <input type="number" min="1" max="180" step="0.5" v-model.number="tool.angleDegrees"  class="form-control small-input-value" aria-label="Tool tip angle in degrees" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                        </div>
                                
                                        <!--Engraving-->
                                        <div style="margin: 0px 5px 0px 5px;flex:1;">
                                            <h4 class="group-title">Engraving:</h4>
                                            <!--height-->
                                            <div class="input-group">
                                                <span>Depth (mm)</span>
                                                <input type="number" min="-100" max="100" step="0.05" v-model.number="tool.cravingDepth"  class="form-control small-input-value" aria-label="Engraving depth" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <!--Contours-->
                                            <div class="input-group">
                                                <span>Contours (count)</span>
                                                <input type="number" min="1" step="1" v-model.number="tool.contoursCount"  class="form-control small-input-value" aria-label="Number of contours" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <div>
                                                <span>Engraving width (mm): {{ (getCravingWidth()*tool.contoursCount ).toFixed(2)}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button @click="computeToolpath()" class="b-success">Compute toolpath</button>
                                        <button :disabled="job.contours.length==0" @click="nextOperationStep()" class="b-primary">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- install-martyr -->
                    <div v-if="currentOperationStep().id == 'install-martyr'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Install a wooden plate in the CNC to protect it.
                            </p>
                            <button @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- install-pcb -->
                    <div v-if="currentOperationStep().id == 'install-pcb'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Use double-sided tape to attach the pcb to the martyr.
                            </p>
                            <button @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- install-tool -->
                    <div v-if="currentOperationStep().id == 'install-tool'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Attach the tool to the machine.
                            </p>
                            <button @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- install-probe -->
                    <div v-if="currentOperationStep().id == 'install-probe'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                For the machine to sense the PCB, probing wires should be installed.
                                <ul>
                                    <li>Solder a wire to the top-right PCB corner.</li>
                                    <li>Clamp a second wire to the installed tool.</li>
                                </ul>
                                The other ends of the wires should connect on the <b>A5</b> pins of the CNC mainboard.
                            </p>
                            <button @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- power-on -->
                    <div v-if="currentOperationStep().id == 'power-on'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                <b>Switch ON</b> the machine using the <b>push button</b> at the back.
                            </p>
                            <button @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- home-x-y -->
                    <div v-if="currentOperationStep().id == 'home-x-y'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Use the <b>Manual Control panel</b> on the right to move the tip of the tool above the <b>bottom-left corner</b> of the PCB.
                                <br/> Make sure the tip of the tool remains <b>above the coper</b> so sensing will be possible.
                                <span v-if="!machine.isConnected()" style="color:red;font-weight:bold;">Machine is not connected.</span>
                                <span v-if="machine.connectionType == 'SERIAL'">Select a serial port.</span>
                            </p>
                            <button :disabled="!machine.isConnected()" @click="machine.setHome({x:1, y:1, z:1}); nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- probe-z -->
                    <div v-if="currentOperationStep().id == 'probe-z'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Probe the PCB height. This required to locate the initial position on the PCB.
                            </p>
                            <button :disabled="!machine.isConnected()" @click="machine.probeSurface(0,0,1,1);" class="b-warn">Start Probing</button>
                            <a v-if="!probing" @click="nextOperationStep()" class="" style="cursor:pointer">Skip</a>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- probe-surface -->
                    <div v-if="currentOperationStep().id == 'probe-surface'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                When milling a PCB, analysing the surface height is <b>extremely important</b> as a PCB is never perfectly flat on the matyr.
                            </p>
                            <p>
                                <br/>As depth of cut is often, very small, this step is required to obtain a reasonable precision.
                            </p>
                            <p>
                                <br/>Use the button bellow to start probing.
                            </p>
                            <button :disabled="!machine.isConnected() || probing" @click="probeSurface()" class="b-warn">Analyse surface</button>
                            <a v-if="pcb.surface.length==0 && !probing" @click="nextOperationStep()" class="" style="cursor:pointer">Skip</a>
                            <button v-if="pcb.surface.length && !probing" :disabled="probing" @click="nextOperationStep()" class="b-primary">Next</button>
                            <span v-if="probing">Probing in progress...</span>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- remove-probe -->
                    <div v-if="currentOperationStep().id == 'remove-probe'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Before starting the milling, <b>remove the wire from the tool</b>.
                            </p>
                            <button :disabled="!machine.isConnected()" @click="nextOperationStep()" class="b-primary">Next</button>
                        </div>
                        <div class="pannel-img-container">
                            <img v-bind:src="currentOperationStep().image" class="pannel-img">
                        </div>
                    </div>

                    <!-- run-job -->
                    <div v-if="currentOperationStep().id == 'run-job'" class="pannel-body">
                        <div class="pannel-text-container">
                            <p>
                                Ready to <b>run the job</b>, click the button bellow to start machining.
                            </p>
                            <div style="display: flex;flex-direction:row;justify-content:center;">
                                <button v-if="!isJobPathRunning()" :disabled="!machine.isConnected()" @click="runJob()" class="b-success" style="font-size: 2em;padding: 0.5em 1em;"><i class="fa-solid fa-play"></i></button>
                                <button v-if="isJobPathRunning()" :disabled="!machine.isConnected()" @click="pauseJob()" class="b-warn" style="font-size: 2em;padding: 0.5em 1em;"><i class="fa-solid fa-pause"></i></button>
                            </div>
                            <div style="position: relative;">
                                <progress :max="job.contours.length" :value="job.currentIndex" style="width: 100%;height: 2.1em;"></progress>
                                <span style="position: absolute;top: 0.4em;left: 45%;outline: 8px white;text-shadow: 0px 0px 2px white;font-weight: bold;color: #000000;">
                                    {{(job.currentIndex*100/job.contours.length).toFixed(0)}}%
                                </span>
                            </div>
                            <div style="display: flex;flex-direction:row;justify-content:center;">
                                <div class="input-group" style="flex:1">
                                    <span>Speed/Feedrate</span>
                                    <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;">
                                        <button @click="job.feedrate = Math.round(job.feedrate * 0.9)" class="b-input"><i class="fa-solid fa-minus"></i></button>
                                        <input type="number" min="10" max="1000" v-model.number="job.feedrate" style="text-align:center;" aria-label="Speed/Feedrate">
                                        <button @click="job.feedrate = Math.round(job.feedrate * 1.1)" class="b-input"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="input-group" style="flex:1">
                                    <span>Engraving Depth</span>
                                    <div style="display:flex;flex-direction:row;">
                                        <button @click="job.cravingDepth -= 0.01" class="b-input"><i class="fa-solid fa-minus"></i></button>
                                        <input type="number" step="0.01" v-model.number="job.cravingDepth" style="text-align:center;" aria-label="Engraving depth">
                                        <button @click="job.cravingDepth += 0.01" class="b-input"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pannel-img-container" style="flex:2;overflow:auto;">
                            <!-- job path list -->
                            <div style="display:flex;flex-wrap:wrap;flex-direction:row;">
                                <div v-for="(path, index) in job.contours" class="path-item">
                                    <!-- Header-->
                                    <div class="path-item-header">
                                        <div>{{index}}</div>
                                        <div>
                                            <a v-if="machine.isConnected() && !isJobPathRunning()" @click="runPath(index, false, true)" style="cursor:pointer;"><i class="fa-solid fa-play"></i></a>
                                            <a v-if="machine.isConnected() && isJobPathRunning() && path.status=='running'" @click="pauseJob()" style="cursor:pointer;"><i class="fa-solid fa-pause"></i></a>
                                        </div>
                                        <div>
                                            <span>{{(path.currentIndex * 100 / path.points.length).toFixed(0)}}% </span>
                                            <i v-if="path.status=='done'" class="fa-solid fa-circle-check c-success"></i>
                                            <i v-if="path.status==''" class="fa-solid fa-circle c-primary"></i>
                                            <i v-if="path.status=='canceled'" class="fa-solid fa-circle-exclamation c-warn"></i>
                                            <i v-if="path.status=='running'" class="fa-solid fa-circle-right c-primary"></i>
                                        </div>
                                    </div>
                                    <!-- Preview-->
                                    <canvas :id="'path-preview-'+index" style="width: 150px;height: 100px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="controls">
                    <!-- Serial-->
                    <div v-if="machine && machine.connectionType == 'SERIAL'">
                        <span v-if="!machine.connection.supported">Serial port is not supported by your WEB browser.<br/> Usage of Chrome / Chromium is recommended.</span>
                        <a v-if="machine.isConnected()" @click="machine.disconnect()" style="position: absolute;top:0;right:0;cursor:pointer;text-decoration:underline;color:#2c3e50;">Disconnect</a>
                        <div v-if="machine.connection.supported" class="serial-container">
                            <!--Port-->
                            <button v-if="!machine.isConnected() && !machine.connection.configured" class="b-primary" @click="machine.connection.listPorts()">Select serial port</button>
                            <button v-if="!machine.isConnected() && machine.connection.configured" @click="machine.connection.listPorts()">Change selection</button>
                            <button v-if="!machine.isConnected() && machine.connection.configured" class="b-primary" @click="machine.connection.connect()">Connect</button>
                            <!--Baud-->
                            <!--<select v-if="!machine.isConnected() && machine.connection.configured " v-model="machine.connection.baudrate">
                                <option value="300">300</option>
                                <option value="1200">1200</option>
                                <option value="2400">2400</option>
                                <option value="4800">4800</option>
                                <option value="9600">9600</option>
                                <option value="19200">19200</option>
                                <option value="38400">38400</option>
                                <option value="57600">57600</option>
                                <option value="74880">74880</option>
                                <option value="115200">115200</option>
                                <option value="230400">230400</option>
                                <option value="460800">460800</option>
                                <option value="576000">576000</option>
                                <option value="921600">921600</option>
                            </select>-->
                        </div>
                    </div>
                    <div v-if="machine && machine.isConnected()" style="display:flex;flex-direction:column; align-items:center; justify-content:center;">
                        <!--Move buttons-->
                        <div style="display:flex;flex-direction:row;width: 100%;">
                          <div style="display:flex;flex-direction:column;">
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:-jogDistance, y:jogDistance}, jogFeedrate)"><i class="fa fa-arrow-left" style="transform:rotate(45deg)"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:-jogDistance}, jogFeedrate)"><i class="fa fa-arrow-left"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:-jogDistance, y:-jogDistance}, jogFeedrate)"><i class="fa fa-arrow-left" style="transform:rotate(-45deg)"></i></button>
                          </div>
                          <div style="display:flex;flex-direction:column;">
                            <button class="button-machine-control" @click="machine.moveSpindleStep({y:jogDistance}, jogFeedrate)"><i class="fa fa-arrow-up"></i></button>
                            <button class="button-machine-control b-warn" @click="emergencyStop()"><i class="fa fa-exclamation-triangle"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({y:-jogDistance}, jogFeedrate)"><i class="fa fa-arrow-down"></i></button>
                          </div>
                          <div style="display:flex;flex-direction:column;">
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:jogDistance, y:jogDistance}, jogFeedrate)"><i class="fa fa-arrow-right" style="transform:rotate(-45deg)"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:jogDistance}, jogFeedrate)"><i class="fa fa-arrow-right"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({x:jogDistance, y:-jogDistance}, jogFeedrate)"><i class="fa fa-arrow-right" style="transform:rotate(45deg)"></i></button>
                          </div>
                          <div style="width: min(4em, 5vw);"></div>
                          <div style="display:flex;flex-direction:column;">
                            <button class="button-machine-control" @click="machine.moveSpindleStep({z:jogDistance}, jogFeedrate)"><i class="fa fa-arrow-up"></i></button>
                            <button class="button-machine-control b-warn" @click="emergencyStop()"><i class="fa fa-exclamation-triangle"></i></button>
                            <button class="button-machine-control" @click="machine.moveSpindleStep({z:-jogDistance}, jogFeedrate)"><i class="fa fa-arrow-down"></i></button>
                          </div>
                        </div>
                        <!--Move speed-->
                        <div style="display: flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;width:100%;">
                            <div class="input-group" style="flex:1">
                                <span>Speed (mm/s)</span>
                                <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;">
                                    <button @click="jogFeedrate = updateNum(jogFeedrate, -1)" class="b-input"><i class="fa-solid fa-minus"></i></button>
                                    <input type="number" v-model.number="jogFeedrate" style="text-align:center;" aria-label="Speed in millimeters per second">
                                    <button @click="jogFeedrate = updateNum(jogFeedrate, 1)" class="b-input"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="input-group" style="flex:1">
                                <span>Distance (mm)</span>
                                <div style="display:flex;flex-direction:row;">
                                    <button @click="jogDistance = updateNum(jogDistance, -1)" class="b-input"><i class="fa-solid fa-minus"></i></button>
                                    <input type="number" v-model.number="jogDistance" style="text-align:center;" aria-label="Distance in millimeters">
                                    <button @click="jogDistance = updateNum(jogDistance, 1)" class="b-input"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Spindle -->
                        <div style="display: flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap;width:100%;">
                            <button @click="machine.startSpindle()" class="" style="padding:1em;"><i class="fa fa-play mr-2"></i>Start spindle</button>
                            <button @click="machine.stopSpindle()"  class="b-fail" style="padding:1em;"><i class="fa fa-stop mr-2"></i>Stop spindle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./lib/SerialPort.js"></script>
    <script src="./machines/Machine.js"></script>
    <script src="./machines/Machine_CNC3018.js"></script>
    <script src="./main.js"></script>
    <script src="./lib/opencv.js"></script>

</html>